/* common CSS */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* web site banner */
.banner {
    text-align: right;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    padding: 150px;

}

h1 {
    font-size: 80px;
    font-weight: 800;
}

.banner-text {
    height: 650px;
    width: 700px;
    margin-left: 1500px;
    margin-top: 100px;
    padding: 100px;
}

.btn {
    border-radius: 5px;
    border: 4px solid rgb(239, 92, 19);
    background-color: rgb(239, 92, 19);
    color: aliceblue;
    padding: 7px 20px;
    font-size: 28px;
    margin-top: 20px;

}

.btn:hover {
    background-color: rgb(142, 90, 246);
    border: 4px solid rgb(142, 90, 246);
}

/* 2nd container  */
img {
    height: 720px;
    width: 100%;
}

.person-contain {
    display: flex;
    align-items: center;
}

#person {
    height: 725px;
    width: 570px;
    margin: 150px 150px 100px 400px;
}

#person-id {
    font-size: 60px;
}

.paragraph,
.double-img {
    padding: 50px;
    size-adjust;
    margin-left: 150px ;
    margin-right: 200px;
}

.Icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* icons height width  */
div>img {
    height: 100px;
    width: 100px;
    align-items: center;
}

h4 {
    font-size: 35px;
}

.text {
    font-size: 50px;
    text-align: center;

}

.text-area {
    height: 415px;
    width: 550px;
}
div > ul > li{
    list-style-type: lower-greek;
    /* color: green; */
}
.info-description,
.text-color {
    color: rgb(125, 121, 121);
    font-size: 31px;
}

/* Last PArt Double Image */
.double-img {
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

h3 {
    font-size: 50px;
    color: aliceblue;
    max-width: 700px;
    padding: 10px;
}

.double-img {
    padding: 10px 40px;
    margin:120px 300px;
}
#back-TwoImg{
    margin: 18px;
}
.btn-two {
    border-radius: 10px;
    border: 4px solid rgb(239, 92, 19);
    background-color: rgb(255, 255, 255);
    color: rgb(243, 89, 28);
    padding: 10px 30px;
    font-size: 30px;
}
    /* Footer Section  */
.footer-back{
    display: flex;
    background-color:black;
    /* background-size: 50% 50%; */
    color: white;
}

.future{
    height: 400px;
    width: 300px;
    text-align: left;
    padding: 15px;
    margin: 100px;
}

.my-isccha{
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 600px;
}